main {
    height: min-content;
    max-height: 400px;
    width: 50%;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px blueviolet;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

main::-webkit-scrollbar {
    width: 12px;
} 

main::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 10px;
}

.scroller {
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.scroller li {
    background-color: blueviolet;
    height: 40px;
    width: 98%;
    border: 2px solid blueviolet;
    border-radius: 3px;
    box-shadow: 0px 0px 5px blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.scroller li:hover {
    cursor: pointer;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
}

li p {
    font-size: 25px;
    text-shadow: 0px 0px 3px black;
}

li button {
    height: 30px;
    width: 120px;
    border-radius: 3px;
    outline: none;
    border: 3px solid white;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    font-size: 20px;
    text-shadow: 0px 0px 1px black;
}

li button:hover {
    cursor: pointer;
    background-color: blueviolet;
    border: 3px solid blueviolet;
    color: white;
}


