.main-div {
  height: 100vh;
  width: 100%;
  background-color: #0f111a;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

h1 {
  height: 80px;
  width: 60%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid blueviolet;
}

section {
  height: 555px;
  width: 930px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px blueviolet;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

thead tr {
  background-color: blueviolet;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

tbody tr {
  margin-top: 11px;
  background-color: #0f111a;
  display: flex;
}

tbody tr:hover {
  cursor: pointer;
  background-color: blueviolet;
}

tr td {
  width: 300px;
  padding: 10px;
}